*{
	font-family: 'Calibri';
    text-align: center;
    color: #000;
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

body{
	background-image: url("../img/fondo acuarela pastel 1048-6530.jpg");
    background-size: cover;
    background-repeat:no-repeat;
	display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    height: 100vh;
    width: 100vw;
}
header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
    background-color: #a8cf45;
    color: #004c8a;
}

section{
    justify-content: center !important;
    width: 100%;
    padding: 20px;
    display: table;
}

footer{
    width: 100vw;
    height: 13vh;
    background-color: #004c8a;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    outline: none;
    background: rgba(58, 149, 222, 1);
    display:block;
    color: #fff;
    width: 100%;
    padding: 10px 15px;
    border:none;
    border-radius: 80px;
    border-bottom: 2px solid #999999;
    font-size: 18px;
    font-weight: 600;
    transition: all .5s ease;

}

input[type="button"]{
    cursor: pointer;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus{
    border-bottom: 4px solid #808080;
}

input[type="submit"]:hover{
    background: rgba(0,117,217,0.7);
    transition: all .5s ease;
}

input[class="btn_send"]{
    background: rgba(0, 76, 138);
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    letter-spacing: 1px;
    border-radius: 28px;
    font-size: 18px;
    cursor: pointer;
}

.logor{
    width: 80px;
    height: 80px;
}

.pie{
    width: 350px;
    height: 30px;
} 