.tab {
    overflow: hidden;
}

.text{
    width: 10px;
}

#logoelectoral{
    width: 100px;
    background-position: 0% 0%;
}

h2{
    color: white;
}

.foot{
    width: 350px;
    margin: 0 10px;
}
.pa1 .pa2{
    border-color: #a8cf45;
}

.sobre{
    position: absolute;
    z-index: 50;
    background-color: #333;
    opacity:0.9;
    border: 2px ;
    padding: 2em;
    top: 10%; 
    left: 30%;
    visibility: hidden;
}


.input{
    padding:10px;
    vertical-align: middle;
    background-color: #004c8a;
    color: #a8cf45;
    text-shadow: 0px 7px 9px #ccc;
    align-content: center;
    margin:30px 20px;
    border-bottom:1px solid #ccc;
}

.input2{
    vertical-align: middle;
    background-color: #004c8a;
    color: #a8cf45;
    text-shadow: 0px 7px 9px #ccc;
    align-content: center;
    margin:3px 2px;
    border-bottom:1px solid #ccc;
}

#nuevo{
text-align: left;

}

.grid-container {
    display: grid;
    grid: 150px / auto ;
    grid-gap: 10px;
  padding: 10px;
}

.grid-container-ban {
    display: grid;
    grid: 100% / auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container>div {
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
    font-size: 30px;
}

.item1 { grid-area: header; 
    background-color: #a8cf45;
    color: #004c8a;
}
.item2 { grid-area: menu;  
    background: rgba(22, 22, 22, 0.1);
  }
.item5 {
    grid-area: footer; 
    background-color: #004c8a;
}

.grid-container {
  grid:
    'header'
    'menu'
    'footer';

}