body{
    display: block !important;
    position: inherit !important;
}

input{
    width: 15vw !important;
    display: initial !important;
}

.header-presentacion-admin{
    display: flex;
    height: 80px;
    width: 25vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tab {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
}


.text{
    width: 10px;
}

.pa1 .pa2{
    border-color: #a8cf45;
}

.sobre{
    position: absolute;
    z-index: 50;
    background-color: #333;
    opacity:0.9;
    border: 2px ;
    padding: 2em;
    top: 10%; 
    left: 30%;
    visibility: hidden;
}

.conte{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.conte > *{
    margin: 0;
    padding: 0;
}

.section-tables{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}