table {       
    border-collapse: collapse;
    width: 100%;
}

th {         
    font-weight: normal;     
    padding: 8px;     
    background: #a8cf45;
    border-top: 4px solid #a7c947;    
    border-bottom: 1px solid #fff; 
    color: #004c8a; }

td {    
    padding: 8px;     
    background: #e8edff;
    color: #669;    
    border-top: 1px solid transparent; }

tr:hover td { 
    background: #aeaef7; 
    color: #004c8a; }